__pycache__
wandb
*.pth
*.out
*.err
*.pdf

data/citeseer
data/cora
data/pubmed
data/ogbl_collab
data/ogbl_ppa
data/ogbl_citation2
data/ogbl_ddi
data/heart
data/dataset
data/dummy
data/dummy_prosqa
data/heart
data/random
data/prosqa
data/heuristics
